html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    /* margin collapse 해결을 위해 사용 */
    padding: 0.05px;
    /*background: linear-gradient(160deg, #ee6191 50%, #e55c8a 50%);*/
    /*background: linear-gradient(160deg, #6182ee 50%, #5c73e5 50%);*/
    /*background: linear-gradient(160deg, #a2ea86 50%, #7be077 50%);*/
    /*background: linear-gradient(160deg, #b4d491 50%, #a2cba1 50%);*/

    /*background: linear-gradient(160deg, #F0EDCC 50%, #02343F 50%);*/
    /*background: linear-gradient(160deg, #23222a 50%, #171719 50%);*/
    /*background: #171719;*/
    background: url("../assets/images/background.jpg") center center fixed;
    background-size: cover;
    color: #ffffff;
    font-family: 'NanumSquareR', serif;
}

a {
    text-decoration: none;
}

a:active, a:visited {
    color: #ffffff;
}


input {
    border: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

/*input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {*/
/*    transition: background-color 5000s !important;*/
/*}*/
